html {
   margin: 0;
  
   
}

body {
   margin: 50px;
   margin-left: 20%;
   margin-right: 20%;
 background: rgb(45,50,80); /*THIS IS THE COLOR PALLETE*/
background: radial-gradient(circle, rgba(45,50,80,1) 0%,
 rgba(246,177,122,1) 0%, 
 rgba(112,119,161,1) 100%);
}


h1 {
   margin: 0;

}

div{
   margin: 10px;
}


.logo {
   color: #2D3250;
   font-size: 3rem;
   padding: 0;
   text-align: center;

}

.header-logo-navigation {
   display: flex;
   height: auto;
   flex-wrap: wrap;
   justify-content: space-between;

}


.header-navigation {
   display: flex;
   gap: 100px;
   flex-wrap: wrap;
   align-items: center;
   
}


.contact {
   height: 40px;
   font-size: 25px;
}


.contact:hover{
   background-color: #7077A1;
}



 .about:hover, .skills:hover, .projects:hover{
   text-decoration: underline;
 }

 #contact {
   font-size: 20px;
 }

a{
   color: #2D3250;
   font-size: 25px;
   text-decoration: none;
   font-weight: bold;
   
}

li {
   list-style-type: none;
}

.intro {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   color: #2D3250;
   font-size: x-large;
   height: 800px;
}

.description-title {
   width: 50%;
}

 


@media (max-width: 1000px) {
   .header-logo-navigation {
      gap: 20px;
      flex-direction: column;
   }

   .header-navigation{
      flex-direction: column;
   }

   .intro {
      height: fit-content;
   }
}