html {
   margin: 0;
  
   
}

body {
   margin: 50px;
   margin-left: 15%;
   margin-right: 15%;
 background: rgb(45,50,80); /*THIS IS THE COLOR PALLETE*/
background: radial-gradient(circle, rgba(45,50,80,1) 0%,
 rgba(246,177,122,1) 0%, 
 rgba(112,119,161,1) 100%);
}


h1 {
   margin: 0;

}

div{
   margin: 10px;
}


.logo {
   color: #2D3250;
   font-size: 3rem;
   padding: 0;
   text-align: center;

}

.header-logo-navigation {
   display: flex;
   height: auto;
   flex-wrap: wrap;
   justify-content: space-between;

}


.header-navigation {
   display: flex;
   gap: 100px;
   flex-wrap: wrap;
   align-items: center;
   
}


.contact {
   height: 40px;
   font-size: 25px;
}


.contact:hover{
   background-color: #7077A1;
}



 .about:hover, .skills:hover, .projects:hover{
   text-decoration: underline;
 }

 .contact {
   font-size: 20px;
   border-radius: 10px;
   border: 0;
   
 }

a{
   color: #2D3250;
   font-size: 25px;
   text-decoration: none;
   font-weight: bold;
   
}

li {
   list-style-type: none;
}

.mid-content {
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: center;
   height: 800px;
}

.intro {
   display: flex;
   flex-direction: column;
   color: #2D3250;
   font-size: x-large;
   
   
}

.description-title {
   width: 100%;
}

 


@media (max-width: 1050px) {
   .header-logo-navigation {
      gap: 20px;
      flex-direction: column;
   }

   .header-navigation{
      flex-direction: column;
      gap: 50px;
      margin-bottom: 50px;
   }

   .mid-content {
      height: fit-content;
      flex-direction: column;
   }

   .intro{
      font-size: medium;
      text-align: center;
   }

   .woman-img {
      width: 300px;
   }

   .logo {
      font-size: 2rem;
   }

   a {
      font-size: large;
   }

   .contact {
      font-size: 15px;
   }

}